@page "{Id?}"
@model Sportmag.Pages.Empty.SaleModel
@using Sportmag.Models
@{ 
    ViewData["Title"] =@Model.sale.Name;
}
<div class="container">
    <main role="main" class="pb-3">
        <div>
            <h2> @Model.sale.Name</h2>
            <div class="container-fluid">
                <div class="row">


                    <div class="card" style="width: 18rem;">
                        <img src="@Model.sale.image" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text">
                                @Model.sale.Price &#8381;   <br /> @Model.sale.Kind_of_sport
                            </p>
                            <form method="post">
                                <button asp-page-handler="buying" type="submit" class="btn btn-primary">купить</button>
                            </form>
                         </div>
                    </div>


                </div>
            </div>
         </div>
     </main>
</div>
<table class="table">
    <tr><td>Чат</td></tr>
    @foreach (Chat chat in Model.chats)
    {
        <tr>
            <td>@chat.name</td>
            <td>@chat.Text</td>
            <td>@chat.Date</td>
        </tr>
    }
</table>
<div class=" position-relative" style="margin-left: 30%">
    <form class="form-inline" method="post">
        <input name="text" class="form-control mr-sm-2" type="search" placeholder="Написать коментарий" aria-label="Search">
        <button class="btn btn-primary  my-2 my-sm-0" asp-page-handler="Commit" type="submit">Отправить</button>
    </form>
</div>